body {
    /* height: 100vh; 
    display: grid;
    place-items: center; */
    background: #222;
    border: dotted pink 2px;
    margin: 0;
}
  
/* intro banner */
.intro {
    position: relative;
    background: linear-gradient(to right, rgb(240, 115, 156), purple);
    padding: 3px;
    margin: 15px;
}
  
.intro-container {
    background-color: #222;
    color: white;
    padding: 150px;
    text-align: center;
    font-size: 30px;
}

#starry img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* .dots {
  border: pink dotted 2px;
  padding: 5px;
} */

/* nav bar */

#dot-border {
  border: black dotted 1px;
  padding: 30px 150px;
}

.nav-bar {
  background: rgb(63,32,148);
  background: radial-gradient(circle, rgba(63,32,148,1) 0%, rgba(190,45,75,1) 100%);
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  margin: 15px;
  /* columns: 5;
  margin-left: 175px; */
}

.nav-bar > div {
  flex: 1;
}

.nav-bar a {
  color: white;
  font-size: 20px;
}

.color1 {
  background: rgb(214,108,194);
  background: linear-gradient(90deg, rgba(214,108,194,1) 8%, rgba(116,9,121,1) 39%, rgba(35,11,87,1) 93%);
}

.color2 {
  background: rgb(35,11,87);
  background: linear-gradient(90deg, rgba(35,11,87,1) 8%, rgba(23,145,144,1) 39%, rgba(48,180,127,1) 93%);
}

.color3 {
  background: rgb(48,180,127);
  background: linear-gradient(90deg, rgba(48,180,127,1) 8%, rgba(96,200,51,1) 39%, rgba(121,179,46,1) 87%);
}

.color4 {
  background: rgb(121,179,46);
  background: linear-gradient(90deg, rgba(121,179,46,1) 8%, rgba(228,232,71,1) 39%, rgba(226,160,72,1) 87%);
}

.color5 {
  background: rgb(226,160,72);
  background: linear-gradient(90deg, rgba(226,160,72,1) 8%, rgba(232,105,71,1) 39%, rgba(226,72,72,1) 87%);
}

/* about me */
.about-me {
  background: linear-gradient(90deg, rgba(72,140,226,1) 8%, rgba(71,232,211,1) 39%, rgba(71,232,141,1) 53%, rgba(226,72,210,1) 87%);
  padding: 3px;
  margin-left: 295px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 65%;
}

.about-me-border {
  background-color: rgb(78, 75, 75);
  color: white;
  padding: 150px;
}

.my-info {
  margin-right: auto;
  text-align: center;
  width: 200px;
  margin-top: -315px;
}

.avatar {
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-top: -90px;
  -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* skills */
.languages {
  border: solid 3px rgb(240, 115, 156);
  margin: 15px;
}

.lang-border {
}

.skills {
  text-align: center;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.skills-container {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}
